<section class="section-wish">
  <div class="wish-cover">
    <div class="container">
      <div class="row wish-form">
        <div class="col-md-6 col-md-offset-3">
          <span>Excellente idée,<br />Partagez-la avec votre communauté !</span>
          <div class="user-wish">
            <span><%= @wish.content %><br /><small><%= @wish.city.name %></small></span>
            <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button_count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>