<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Cher Citoyen, </h1>
    <h2>Bienvenue chez Fluicity. </h2>
    <p>
      Nous vous remercions pour votre intérêt!
    <p>
      Fluicity est une plateforme de démocratie participative qui vise a impliquer le citoyen dns la prise de décision publique au niveau local. </p>

    <p>Notre objectif est de simplifier l'accès à la citoyenneté grâce a une série d'outils interactifs et un contenu pris en compte par les élus en temps réel. </p>

    <p>Si Fluicity n'existe pas dans votre ville, nous vous invitons a nous donner des idées pour améliorer la qualité de vie dans votre ville. Celles-ci nous aideront à approcher vos élus avec des arguments concrets. </p>
    </p>
    <p>
      N'hésitez pas a me contacter pour de plus amples informations.
    </p>
    <p>Julie de Pimodan, Founder and CEO</p>
  </body>
</html>