<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Cher Citoyen, </h1>
    <h2>Bienvenue chez Fluicity. </h2>
    <p>
      Nous vous remercions pour votre intérêt!
    <p>
      Fluicity est une plateforme e-démocratie qui vise a simplifier l'accès à la citoyenneté. </p>
    <p>
      Grâce à Fluicity, vous pouvez communiquer avec les services municipaux, directement depuis votre smart phone, et faire passer votre message sans perdre de temps dans les administrations, pétitions ou autres canaux incertains. </p>

    <p>Si Fluicity n'existe pas dans votre ville, nous vous invitons à nous donner des idées pour améliorer la qualité de vie de votre ville. Celles-ci nous aideront à approcher vos élus avec des arguments concrets. </p>
    </p>
    <p>
      N'hésitez pas a nous écrire sur info@flui.city ou à me contacter directement pour toute autre question.
    </p>
    <p>Julie de Pimodan, Fondatrice et CEO, julie@flui.city</p>
  </body>
</html>