<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Chère organisation, </h1>
    <h2>Bienvenue chez Fluicity. </h2>
    <p>
      Nous vous remercions pour votre intérêt!
    </p>
    <p>
      N'hésitez pas a me contacter pour de plus amples informations.
    </p>
    <p>Julie de Pimodan, Founder and CEO</p>
  </body>
</html>