<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Cher Citoyen, </h1>

      <p>
      Je suis Julie, Fondatrice de Fluicity et je vous remercie pour votre intérêt!
      </p>
      <p>
      Fluicity est une plateforme e-démocratie qui vise à impliquer touts les parties prenantes dans la prise de décision publique: citoyens, élus, associations, secteur privé. </p>

      <p> Grâce à Fluicity, vous pouvez désormais communiquer avec les services municipaux, directement depuis votre smart phone, et faire passer votre message sans perdre de temps dans les administrations, pétitions ou autres canaux incertains. Nous </p>

      <p>Si Fluicity n'existe pas dans votre ville, nous vous invitons à nous donner des idées pour améliorer la qualité de vie de votre ville. Celles-ci nous aideront à approcher vos élus avec des arguments concrets. </p>
      </p>

      <p>N'hésitez pas a me contacter directement pour de plus amples informations.</p>
      <p>Cordialement,</p>
      <p> Julie de Pimodan, Fondatrice et CEO, julie@flui.city </p>
  </body>
</html>