<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Cher Elu, </h1>

    <p>Je suis Julie, Fondatrice de Fluicity et je vous remercie pour votre intérêt!</p>
    <p>
      Fluicity est une plateforme e-démocratie qui vise à impliquer touts les parties prenantes dans la prise de décision publique: citoyens, élus, associations, secteur privé. </p>

      <p> Nous travaillons principalement avec les municipalités et des collectivités, acteurs clé de la démocratie participative et capables d'utiliser les opinions citoyennes pour adapter leur décisions. </p>
      <p>
      Vous souhaiteriez en savoir plus sur Fluicity? N'hésitez pas à me contacter directement, je me ferais une joie de répondre à vos questions autour d'un café ou d'une conversation téléphonique.
    </p>
    <p>Julie de Pimodan, Fondatrice et CEO, julie@flui.city </p>
  </body>
</html>