.section-jobs {
  padding: 30px 0 60px 0;
  background-color: #fff;

  h2 {
    margin: 40px 0 30px 0;

    &:after {
      content: '';
      display: block;
      padding-top: 20px;
      width: 60px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    }
  }

  .offers-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 4px;

    ul {
      width: 100%;
      list-style: none;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;

      font-size: 16px;
      line-height: 24px;

      li {
        box-sizing: border-box;
        padding: 0 10px;
        width: 33.33333%;
        cursor: pointer;

        .member-info {
          box-shadow: 0 1px 2px rgba(0,0,0,0.07);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          padding: 10px;
          margin: 20px 0;
          color: black;
          background: white;
          border-radius: 3px;
          height: 90px;
          -webkit-transition: box-shadow 0.2s ease;
          transition: box-shadow 0.2s ease;

          &:hover {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          }

          img {
            width: 30px;
            margin-left: 10px;
          }

          .member-details {
            padding: 0 20px;

            h3 {
              font-size: 18px;
              margin: 0;
            }
          }
        }
      }
    }

    .modal {
      .modal-header {
        background-color: #333;
        border-radius: 4px 4px 0 0;
        color: #fff;
        h3 {
          margin-bottom: 10px;

          &:after {
            content: '';
            display: block;
            padding-top: 10px;
            width: 60px;
            border-bottom: 3px solid #fff;
          }
        }
      }

      .modal-body {
        padding: 0 15px 30px;

        h4 {
          margin: 35px 0 20px;
          font-weight: 600;
          text-transform: uppercase;
        }

        span {
          text-transform: uppercase;
        }

        ul {
          list-style: circle;
          list-style-position: inside;

          li {
            padding: 0;
            width: 100%;
          }
        }
      }

      .modal-footer {
        padding: 30px 15px 15px;
        background-color: #333;
        border-radius: 0 0 4px 4px;
        color: #fff;
        text-align: center;

        p { color: #fff; }

        strong {
          margin-top: 10px;
          text-transform: uppercase;
        }

        .modal-close {
          float: right;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          font-size: 15px;
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }
}