// Place all the styles related to the wish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-padding { padding: 0;}

.section-wish {
  background:asset-url('test-home.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px;
  color: white;
  padding-top: 120px;
  position: relative;

  .wish-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
  }

  .survey,
  .wish-form {
    position: relative;
    color: #fff;
    width: 100%;
    padding: 20px 50px;

    .survey-title,
    .survey-subtitle,
    .wish-title,
    .wish-subtitle,
     {
      text-align: center;
      display: block;
      text-transform: uppercase;
      line-height: 1.4em;
      font-size: 1.6em;
      letter-spacing: 0.1em;
      font-weight: 600;
      color: #fff;
      padding: 0 0 10px 0;
    }


    .survey-subtitle,
    .wish-subtitle {
        text-transform: none;
        font-size: 1.3em;
      }

    .survey-item {
      padding: 40px 0 20px 0;
      float: left;
    }

    .survey-item:first-child { float: left; }
    .survey-item:last-child { float: right; }

    .btn-survey {
      width: 300px;
      padding: 9px 30px;
      background-color: #fff;
      color: #333;

      &:hover {
        background-color: transparent;
        color: #fff;
      }
    }

    .btn-survey.nl-button {
      padding: 9px 12px;
    }

    .user-wish {
      border-left: 4px solid #fff;
      padding: 20px 10px 20px 10px;
      background-color: rgba(0,0,0,0.4);

      span {
        display: block;
        font-size: 1.1em;
      }
    }
  }

  .survey { margin-top: 120px; }
  .wish-form { margin-top: 50px; }
}

@media screen and (max-width: 1100px) {
  .section-wish {
    .survey-item {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .section-wish {
    .wish-form {
      margin-top: 160px;
    }
  }
}

@media screen and (max-width: 767px) {
  .section-wish {
    height: 650px;

    .survey,
    .wish-form {
      padding: 20px;
    }

    .wish-form {
      margin-top: 200px
    }
  }
}

@media screen and (max-width: 400px) {
  .section-wish {
    .survey{
      .btn-survey {
        max-width: 260px;
        font-size: 0.8em;
        padding: 9px 15px;
      }
    }
  }
}