<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <div class="col-md-3">
        <ul>
          <li>L'équipe</li>
          <li>Mentions Légales</li>
          <li>CGV</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>Recrutement</li>
          <li>Dossier Presse</li>
          <li>Médias</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>FAQ</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li><i class="fa fa-facebook"></i>Facebook</li>
          <li><i class="fa fa-twitter"></i>Twitter</li>
          <li><i class="fa fa-linkedin"></i>Linkedin</li>
        </ul>
      </div>
      <div class="col-md-12 copyright">
        <span>© 2015 - Fluicity</span>
      </div>
    </div>
  </div>
</footer>

