<footer>
 <div class="container text-center">
   <div class="row">
      <div class="col-lg-12 footer-col">
        <span class="copyright">© Fluicity 2015<span>
      </div>
    </div>
  </div>
</footer>

