<div class="footer">
 <div class="container">
   <div class="row">
     <div class="col-lg-4 footer-col">
      <div class="social col-lg-8">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/fluicity?ref=hl"><i class="fa fa-facebook-square fa-3x text-left"></i></a></li>
          <li><a href="https://twitter.com/Fluicities"><i class="fa fa-twitter fa-3x text-left"></i></li>
        </ul>
      </div>
     </div>

   </div>
 </div>
</div>

