<section id="timeline">

  <div class="container text-center">
    <h2 class="title-timeline">Je représente une ville, comment ca marche ?</h2>
  </div>

  <div class="container-timeline">
    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-question"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Identifier ses objectifs</h2>
        <p>Comment appliquer l'idée de participation citoyenne aux réalités de votre ville? Votre objectif est-il de renouer avec les jeunes, simplifier les services administratifs, communiquer de manière plus transparente ou lutter contre l'abstention? Fluicity est votre boîte à outils!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-wrench fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Choisir ses outils</h2>
        <p>Chaque ville déploie les services qu'elle juge nécessaire à l'épanouissement de ses citoyens. Fil de nouvelles interactives, consultations thématiques ciblées, gestion des idées citoyennes ou des formalités administratives, nous allons identifier ensemble ce qui compte pour votre ville et limiter votre charge de travail en s'intégrant aux plateformes existantes.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-mobile fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Définir sa plateforme</h2>
        <p>Fluicity est disponible sur web, et sur application native (android et iphone). Le logiciel est déclinable en fonction de vos besoins. L'avantage c'est qu'il est disponible tout de suite, ne présente pas de contrainte technique, que son prix défie toute concurrence et qu'il porte en plus les couleurs de votre ville!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-share-alt fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Engager sa communauté</h2>
        <p>Armés de vos objectifs, outils et plateforme de prédilection il est temps pour vous d'entrer en campagne! Fluicity propose une feuille de route détaillée pour vous garantir un grand nombre d'utilisateurs loyaux et interactifs. Fonctionnalités de gamification, messagerie personnalisée, marketing digital et affichage offline, tous les coups sont permis!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-bar-chart fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Mesurer l'impact</h2>
        <p>Fluicity a pour objectif de générer des résultats les plus crédibles et représentatifs possible pour un plus grand alignement entre prise de décision et opinion publique. Les données Fluicity sont segmentées, traitées et présentées de manière plus ou moins granulaire selon les besoins de la Mairie. Ces données sont ensuite utilisées en interne pour les discussions au conseil ou sont publiées pour appuyer ses propositions.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

  </div>
</section>