<section id="timeline">

  <div class="container text-center">
    <h2 class="title-timeline">Je représente une ville, comment ca marche ?</h2>
  </div>

  <div class="container-timeline">
    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-question"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Identifier ses objectifs</h2>
        <p>Votre objectif est-il de renouer avec les jeunes, simplifier les services administratifs, communiquer de manière plus transparente ou lutter contre l'abstention? Fluicity est votre boîte à outils!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-wrench fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Choisir ses outils</h2>
        <p>Fil de nouvelles interactives, consultations thématiques ciblées, gestion des idées citoyennes ou des formalités administratives, chaque ville déploie les services qu'elle juge nécessaire à l'épanouissement de ses citoyens.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-mobile fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Définir sa plateforme</h2>
        <p>Fluicity est disponible sur web, et sur application native (android et iphone). Le logiciel d'adapte aux besoins de la ville, aux outils existants et dans l'immédiat!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-share-alt fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Engager sa communauté</h2>
        <p> Construire une communauté c'est comme entrer en campagne! Fluicity propose une feuille de route détaillée pour garantir à la ville un grand nombre d'utilisateurs loyaux et interactifs.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-bar-chart fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Traiter les données</h2>
        <p> Fluicity a pour objectif de générer des résultats les plus crédibles et représentatifs possibles. Le traitement des données est donc mis au service de la prise de décision. </p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

  </div>
</section>