<section id="timeline">

  <div class="container text-center">
    <h2 class="title-timeline">Je représente une ville, comment ca marche ?</h2>
  </div>

  <div class="container-timeline">
    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-question"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Identifier ses objectifs</h2>
        <p>Votre objectif est-il de renouer avec les jeunes, simplifier les services administratifs, communiquer de manière plus transparente ou lutter contre l'abstention? Fluicity est votre boîte à outils!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-wrench fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Choisir ses outils</h2>
        <p> Nos solutions sont nombreuses: fil de nouvelles interactives, consultations thématiques ciblées, gestion des idées citoyennes ou des formalités administratives par messagerie automatique... chaque ville déploie les services qu'elle juge nécessaire à l'épanouissement de ses citoyens.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-mobile fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Définir sa plateforme</h2>
        <p>Fluicity est disponible sur web et sur application native (android et iphone). Le logiciel d'adapte aux besoins de votre ville, aux outils existants et dans l'immédiat!</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-share-alt fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Engager sa communauté</h2>
        <p> Ne vous laissez pas impressioner par les réseaux sociaux. Construire sa communauté c'est plus simple qu'une campagne éléctorale! Fluicity propose une feuille de route détaillée pour garantir à la ville un grand nombre d'utilisateurs loyaux et interactifs.</p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

    <div class="timeline-block">
      <div class="timeline-img">
        <i class="fa fa-bar-chart fa-2x"></i>
      </div> <!-- timeline-img -->
      <div class="timeline-content">
        <h2>Utiliser ses données</h2>
        <p> Générer des données brutes c'est bien, être capable de s'en servir c'est mieux. Le service de traitement et de visualisation des données Fluicity est mis à votre disposition pour une prise de décision plus efficace. </p>
      </div> <!-- timeline-content -->
    </div> <!-- timeline-block -->

  </div>
</section>