<% title "En détails" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'>En détails</em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="features">
  <div class="container-fluid">
  <div class="shapes-top"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 content">
          <h2>Une information plus ciblée</h2>
          <p>Pour donner envie de participer il faut commencer par mieux informer.</p>
          <p>Fluicity propose un fil d’actualité en temps réel qui propose des nouvelles hyper locales en fonction de votre quartier et de vos centres d’intérêt.</p>
          <p>L’actualité est enrichie par de nombreux acteurs: mairie, associations, acteurs privé et média locaux.</p>
        </div>
        <div class="col-md-6">
          <div class="mockup">
            <ul id="screen" class="screen">
              <li class="active"><img class="slide" src="<%= image_url 'slide_1.jpg' %>"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid interactivity">
    <div class="shapes-top"></div>
    <div class="overlay-interactivity"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 content">
          <h2>Une interaction plus efficace</h2>
          <p>Les citoyens se sont désinteressés car ils pensent que leur opinion n’aura aucun impact.</p>
          <p>Sur Fluicity vous pouvez échanger en direct avec vos élus.</p>
          <p>les élus vous posent des questions, vous proposez vos idées et la Mairie vous réponds avec des solutions adaptées.</p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 content">
        <h2>Une meilleure compréhension des échanges</h2>
        <p>Nous proposons un moyen pour les collectivités de mieux vous comprendre grâce à des outils de big data: des données fiables, quantifiables et actionnables.</p>
        <p>La plate-forme est neutre, indépendante et protège les données personelles sur des serveurs sécurisés.</p>
        <p>Les données partagées avec les Mairies sont anonymes et nous ne les utilisons pas à des fins commerciales.</p>
      </div>
      <div class="col-md-6">
        <div class="browser">
          <ul id="window" class="window">
            <li><img src="<%= image_url 'mockup_admin.jpg' %>"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="next-page">
  <div class="next-overlay"></div>
  <span>Téléchargez l'application</span>
  <div class="download">
    <button href="#" class="appstore">
      <i class="devicon-apple-original"></i>
      <span>Sur l'AppStore</span>
    </button>
    <button href="#" class="playstore">
      <i class="devicon-android-plain"></i>
      <span>Sur Google play</span>
    </button>
  </div>
</div>