
<header id="#cover">
  <div class="header-background">
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
            <h1>Connecting Citizen</h1>
            <p><%= t "description"%></p>
            <%= render "shared/newsletter"%>
            <a href="#timeline" alt="Timeline">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-4">
        <div class="home-skill">
          <i class="icon fa fa-users fa-2"></i>
          <h2>ENGAGEMENT</h2>
          <p> Fluicity veut aider les élus a réengager leurs citoyens dans le processus démocratique de manière simple et régulière.</p>
        </div>
      </div>
      <div class = "col-sx-12 col-sm-4">
        <div class="home-skill">
           <i class="icon fa fa-signal fa-3"></i>
          <h2>PARTICIPATION</h2>
          <p> Nous digitalisons, formatons et segmentons les données publiques pour inclure l'ensemble des parties prenantes - citoyens, élus, associations, secteur privé - dans un débat civil interactif.</p>
        </div>
      </div>
      <div class = "col-sx-12 col-sm-4">
        <div class="home-skill">
          <i class="icon fa fa-crosshairs fa-2"></i>
          <h2>IMPACT LOCAL</h2>
          <p> Nous nous adressons d'abord aux collectivités LOCALES, acteurs clé de la démocratie participative et capables d'utiliser les opinions citoyennes pour adapter leurs DECISIONS. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="cut-quote">
  <div class="cut-cover">
    <div class="container text-center">
      <blockquote>L'intelligence d'une ville est celle de ses habitants.<small>Jean-Louis Missika, Adjoint au Maire de Paris</small></blockquote>
    </div>
  </div>
</div>

<%= render "shared/timeline"%>

<section class="section-video">


<div class="cut-video">
  <div class="cut-cover">
    <div class="container-video">
      <div class="cut-scene-video">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="//www.youtube.com/embed/MxribCVXRuI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="home-wish">
  <div class="container">
    <h2>Vous avez des idées pour votre ville ? Exprimez-vous !</h2>
    <%= link_to new_wish_path do %>
     Je souhaite...
    <% end %>
  </div>
</section>
