<% title "Press" %>
<% meta_description %>

<section class="section-press">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-10 col-md-offset-1">
      <ul>
        <li class="article">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
              <img src="" alt="logo" class="article-logo">
            </div>
            <div class="col-sm-10">
              <span class="article-name"><a href="http://www.lefigaro.fr/secteur/high-tech/2015/04/16/01007-20150416ARTFIG00106-l-application-qui-veut-reengager-les-citoyens-dans-le-debat-politique.php" rel="">L'application qui veut réengager les citoyens dans le débat politique</a></span>
              <span class="article-date">Publié le 16 avril 2015</span>
            </div>
        </li>
        <li class="article"></li>
        <li class="article"></li>
        <li class="article"></li>
        <li class="article"></li>
      </ul>
    </div>
    </div>
  </div>
</section>