<section class="section-contact">
  <div class="contact-cover">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <p> Fluicity vous remercie pour votre intérêt!</p>
        <p> Nous vous avons envoyé un email d'information.</p>
      </div>
    </div>
  </div>
</section>