<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'><%= t 'thanks.thanks_header' %></em></h1>
          <span class="page-disclaimer"><%= t 'thanks.thanks_disclaimer' %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="section-thanks">
  <div class="contact-cover">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="row thanks">
          <div class="newsletter-confirmation">
            <a href="/" alt="Accueil" class="button button-vision animsition-link"><%= t 'thanks.thanks_button' %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>