<section class="section-thanks">
  <div class="contact-cover">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="row thanks">
          <div class="newsletter-confirmation">
            <span> Fluicity vous remercie pour votre intérêt !<br /><small>Nous vous avons envoyé un email d'information.</small></span>
            <a href="/" alt="Accueil" class="btn btn-home">Retour à l'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>