<% title "Vision" %>
<% meta_description %>
<% meta_image %>

<header id="#cover">
  <div class="header-page">
    <div class="shapes-top"></div>
    <div class="header-cover">
      <div class="container">
        <div class="row header-content text-center">
          <h1 class="index-description"><em class='highlight'>Notre vision</em></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="vision">
  <div class="inside-vision">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- VISION -->
          <h2>Fluicity est née d’un constat</h2>
          <p>Les démocraties européennes vivent une période difficile et les chiffres parlent d’eux mêmes. En France par exemple, <strong>40% des citoyens n’ont pas été voter aux dernières municipales</strong>, un taux record qui frappe surtout <strong>les jeunes qui se sont abstenus à 61%</strong>.</p>
          <p>Si les causes de ce “déficit démocratique” sont multiples et complexes, ses conséquences sont graves et pourraient être dévastatrices pour l’avenir.</p>
          <blockquote>La démocratie commence en bas de chez soi.</blockquote>
          <p>C’est donc à l’échelle de la ville, sur des sujets très concrets de la vie quotidienne, que l’on veut redonner envie aux gens de participer, de s’impliquer dans la construction de l’espace publique.</p>
          <p>Pour y arriver nous proposons à toutes les collectivités une interface innovante et ludique qui offre:</p>
          <ul>
            <li><strong>Une information locale mieux ciblée</strong>, par centre d’intérêt</li>
            <li><strong>Une interaction plus efficace</strong> entre tous les membres de la société civile</li>
            <li><strong>Une meilleure compréhension des échanges</strong>, besoins et attentes des citoyens</li>
          </ul>
          <p>Fluicity est une plateforme neutre et indépendante qui garantit la protection des données personnelles et le respect des libertés individuelles. Notre équipe est jeune, passionnée par l’innovation civique et stimulée une ambition commune : mettre l’innovation technologique au service d’un impact social durable.</p>
          <!-- RESPONSIVE VIDEO BLOCK -->
          <h2>En vidéo</h2>
          <div class="video-wrapper">
            <iframe width="560" height="315" src="//www.youtube.com/embed/MxribCVXRuI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a href="/features">
  <div class="next-page">
    <div class="next-overlay"></div>
      <span>Découvrez les features de l'application</span>
    </div>
  </a>
</a>

