<div class = "wish-section">
  <div class = "col-md-6 col-md-offset-3 wish-section-text">
        <p> Vous avez des idées pour votre ville?</p>
        <p> Vous N'etes pas le seul!</p>
        <p> Exprimez vous, et decouvrez les sujets des débats locaux.</p>
        <p> Votez et créez de l'impact aupres des collectivités locales.</p>
    <%=  link_to "/", class: "form-button <button>Add</button>" do  %>
    <p>VAIRE UN VOEUX</p>
    <% end %>
  </div>
</div>

