<div class = "wish-section">

  <div class = "container">

    <div class = "row">

      <div class = "col-sx-12 col-sm-4 wish-section-text text-center ">
          <p> Vous avez des idées pour votre ville?
          Vous n'êtes pas le seul!</p>

          <div class="form-group">
            <!-- Include Google Maps JS API -->
            <input id="user_input_autocomplete_address" placeholder="Votre ville...">
          </div>
      </div>

      <div class = "col-sx-12 col-sm-4 wish-section-text text-center">
            <p> Exprimez vous, et créez de l'impact aupres des élus.</p>
          <input type="text" class="form-control" placeholder="Text input">

      </div>
      <div class = "col-sx-12 col-sm-4 wish-section-text text-center ">
            <p> Découvrez les idées dans votre ville et votez pour les meilleures.</p>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
    </div>

  </div>
</div>

