header {
  /* HEADER - HOME ************************************************************/
  .header-background {
    background:asset-url('background/fluicity_main.jpg') no-repeat top center fixed;
    min-height: 650px;

    .header-content {
      margin-top: 180px;
    }
  }

  /* HEADER - PAGES ***********************************************************/
  .header-page {
    background:asset-url('background/fluicity_main.jpg') no-repeat top center fixed;
    min-height: 420px;

    .header-content {
      margin-top: 150px;
    }
  }

  /* COMMON STYLE *************************************************************/
  .header-background,
  .header-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    position: relative;
    margin : 0;

    .header-cover {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .header-content {
      h1 {
        font-size: 2.45em;
        letter-spacing: 0.03em;
        line-height: 1.3em;
        color : #fff;

        &:after {
          content: '';
          display: block;
          margin: 0 auto;
          padding-top: 5px;
          width: 150px;
          border-bottom: 3px solid #fff;
        }
      }

      .highlight {
        text-transform: uppercase;
        font-style: normal;
      }

      img {
        display: block;
        height: 50px;
        margin: 0 auto 30px auto;
      }

      .index-description {
        width: 80%;
        margin: 0 auto;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0 20px 0;
      }

      .page-disclaimer {
        margin-top: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
      }

      .page-header-text {
        position: absolute;
        width: 100%;
        top: cal(100vh / 3);
        font-weight: 900;
        font-size: 48px;
      }
    }
  }



  @media screen and (max-width: 600px) {
    .header-background {
      .header-content {
        margin-top: 75px;
        padding: 0 20px;
        .index-description { margin: 50px auto; }
      }
    }
  }

  @media screen and (max-width: 568px) {
    .header-background {
      min-height: 700px;
      .header-content {
        margin-top: 120px;
      }
    }
  }
}