/* COMMON STYLE ***************************************************************/
.button {
  text-decoration: none;
  background: transparent;
  border-radius: 4px;

  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    text-decoration: none;
  }
}

/* HEADER HOME - DOWNLOAD BUTTONS *********************************************/
.button-download {
  margin: 40px 5px 0;
  padding: 0 20px;
  min-width: 320px;
  height: 65px;
  line-height: 65px;

  color: #fff;
  border: 1px solid #fff;
  font-size: 22px;

  z-index: 2;

  &:hover {
    background-color: #fff;
    color: #222;
  }

  .devicon-apple-original,
  .devicon-android-plain {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 30px;
  }
}

/* HOME - SECTION | VISION ****************************************************/
.button-vision {
  display: block;
  margin: 50px auto 0 auto;
  width: 300px;
  padding: 20px 70px;
  color: #898484;
  border: 1px solid #898484;
  border-radius: 4px;

  &:hover {
    color: #fff;
    background-color: #222;
  }
}