body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: azo_sansregular,'Open Sans',sans-serif;
}

a, a:hover, a:focus { text-decoration: none; }

p {
  font-family: 'Bitter', serif;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}


.control-label { display: none; }
.no-margin { margin-left: 0; margin-right: 0; }

/**************************************************************
 SHAPES - ANGLED EDGE
**************************************************************/

.shapes-top {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  z-index: 1;

  &:before {
    position: absolute;
    background: rgba(255,255,244,0.4);
    content: '';
    display: block;
    height: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
    z-index: 1;
  }

  &:after {
    position: absolute;
    background: #fff;
    content: '';
    display: block;
    height: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0;
    z-index: 1;
  }
}

.shapes-bottom {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: -20%;
  z-index: 1;
  transform: rotate(180deg);

  &:before {
    position: absolute;
    background: rgba(255,255,244,0.4);
    content: '';
    display: block;
    height: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
    z-index: 1;
  }

  &:after {
    position: absolute;
    background: #fff;
    content: '';
    display: block;
    height: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100% 0;
    z-index: 1;
  }
}

/**************************************************************
 FORMS
**************************************************************/

.section-contact,
.section-wish,
.section-thanks {

  .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 10px;
    margin: 20px 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.428571429;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;

    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);

    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .select-control {
    color: #333;
    border-bottom: none;
    background-color: rgba(255,255,255, 0.7);
    border-radius: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  .text-control {
    height: 100%;
  }

  ::-webkit-input-placeholder { color: rgba(255,255,255, 0.5); }
  :-moz-placeholder { color: rgba(255,255,255, 0.5); }
  ::-moz-placeholder { color: rgba(255,255,255, 0.5); }
  :-ms-input-placeholder { color: rgba(255,255,255, 0.5); }

  .btn-contact,
  .btn-survey,
  .btn-wish,
  .btn-home {
    padding: 9px 60px;
    color: #fff;
    border-radius: 0;
    background-color: transparent;
    border-color: #fff;
    text-transform: uppercase;
    font-weight: 600;

    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
      background-color: #fff;
      color: #333;
      border-color: #fff;
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 48.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  border: 1px solid #F1F1F1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}