.section-contact {
  background:asset-url('test-home.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  color: white;
  padding-top: 120px;
  position: relative;

  .contact-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
  }

  .contact-form {
    position: absolute;
    font-family:'Raleway', sans-serif;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 120px;
  }
}