.download {
  margin-top: 40px;
  z-index: 2;

  button {
    min-width: 320px;
    margin: 0 5px;
    padding: 0 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 22px;
    text-decoration: none;
    background: transparent;
    height: 65px;
    line-height: 65px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      background-color: #fff;
      color: #222;
      text-decoration: none;
    }
  }

  .devicon-apple-original,
  .devicon-android-plain {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 30px;
  }
}