.newsletter {
  position: relative;
  padding : 20px 0;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: #fff;
  padding: 20px 0;
  /*background-color: rgba(51,51,51, 0.3);*/

  span {
    text-transform: uppercase;
  }

  .form-control {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 10px 16px;
    min-width: 260px;
    min-height: 40px;
    line-height: 20px;
    margin-top: 20px;

    background: transparent;
    color: #fff;
    font-size: 14px;

    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
  }

  select {
    height: 40px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }

  ::-webkit-input-placeholder { color: rgba(255,255,255, 0.7); }
  :-moz-placeholder { color: rgba(255,255,255, 0.7); }
  ::-moz-placeholder { color: rgba(255,255,255, 0.7); }
  :-ms-input-placeholder { color: rgba(255,255,255, 0.7); }

  .btn-newsletter {
    padding: 9px 60px;
    color: #333;
    border-radius: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;

    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
      background-color: transparent;
      color: #fff;
      border-color: #fff;
    }
  }

  @media screen and (max-width: 992px) {
    .form-control { min-width: 190px; }
  }
}

@media screen and (max-width: 767px) {
    .newsletter {
      max-width: 400px;
      margin: 0 auto 30px auto;

      .btn-newsletter {

        width: 100%;
      }
    }
  }