.newsletter {
  position: relative;
  height: 135px;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 135px;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: #333;
  background-color: #333;
  box-shadow: 0 0 75px rgba(0,0,0,.1);

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #333;
    border-width: 30px;
    margin-left: -30px;
    z-index: 10;
  }

  .form-control {
    display: inline-block;
    border: 1px solid #787e81;
    border-radius: 2px;
    padding: 10px 16px;
    min-width: 260px;
    min-height: 40px;
    line-height: 20px;

    background: #fff;
    color: #202630;
    font-size: 14px;

    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
  }

  select {
    height: 40px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }

  .btn-newsletter {
    padding: 9px 12px;
    color: white;
    border-radius: 0;
    background-color: #f1c40f;
    border-color: #f1c40f;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      border-color: #fff;
    }
  }
}