$link-color: #2ecc71;
$header-height: 600px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";
@import "header";
@import "carousel";
@import "wish";
@import "footer";

.header-form {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: grey;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  padding: 1em 0;
}

.home-video {
  text-align: center;
  padding: 40px;

  h1 {
    font-weight: 600;
    letter-spacing: 0.125em;
    font-size: 1.5em;
    line-height: 1.75em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
  }
}

.home-section {
  padding: 40px;
  background-size: cover;
  background-color: #f1c40f;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  .introduction {
    color: #fff;
    font-size: 36px;
    color: #202630;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 50px;

    h1 {
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.125em;
    }

    p {
      letter-spacing: 0.125em;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #fff;
      line-height: 1.75em;
      padding: 0px;
      height: 0px;
    }
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-top: -6px;
    padding: 40px;
    height: 180px;
  }
}

.icon {
  background-color: #fff;
  color: #f1c40f;
  height: 64px;
  width: 64px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-top: -37px;
  position: absolute;
  left: 41%;
  right: 50%;
  border: 4px solid #f1c40f;
  font-size: 30px;
}

.frame {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #E8E8E8;
}


.form-button {
    color: #FFCA00
  }

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  height: 60px;
}

.footer-col {
  // background: rgba(0, 0, 0, 0.7);
  height: 50px;
  padding-top: 10px;
}

.list-inline {
  color: white;
}

.thanks-section {
  background-image: asset-url('thank_you.jpg');
  background-size: cover;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: black;
  padding-top: 200px;
  position: relative;
  margin-top: 0;
  height: $header-height;
}


.home-contact {
  background-image: asset-url('brussels-map.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-section {
  padding-top: 150px;
  padding-bottom: 300px;
  position: relative;
  margin-top: 0;
  height: $header-height;

  .contact-form {
    font-family:'Raleway', sans-serif;
    color: grey;
    position: absolute;
    width: 100%;
    background-color: rgba(255,202, 0, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


