footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  line-height: 100px;
  color: #fff;
  background-color: #333;

  .email {
    text-transform: none;
  }

  .copyright {
    font-family: open sans;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
  }
}

