header {

  .header-background {
    background:asset-url('background-home.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: $header-height;
    color: white;
    padding-top: 140px;
    position: relative;
    margin : 0;

    .header-cover {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background-color: rgba(241, 196,15, 0.8);
    }

    .header-content {

      margin-top: 140px;

      h1 {
        font-family: 'Roboto';
        font-size: 35px;
        line-height: 1.7em;
        text-transform: uppercase;
        color : #333;
      }

      p {
        font-family: 'Open sans';
        font-size: 1.2em;
        font-weight: 600;
        margin: 20px 0 40px 0;
      }

      a {
        color: #333;
        border: 2px solid #333;
        padding: 10px 30px;
        text-transform: Uppercase;
        font-weight: 600;

        &:hover {
          color: #fff;
          border: 2px solid #fff;
          text-decoration: none;
        }
      }

      .responsive-container {
        position: relative;
        padding-bottom: 52.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
      }

      .responsive-container iframe {
        position: absolute;
        top: 0;
        right: 0; /* Align right*/
        width: 85%;
        height: 85%;
      }

      .page-header-text {
        position: absolute;
        width: 100%;
        top: $header-height / 3;
        font-family:'Raleway', sans-serif;
        font-weight: 900;
        font-size: 48px;
      }
    }
  }
}