// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-section {
  padding: 3em 0 2em 0;
  background-size: cover;
  background-color: #f1c40f;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f1c40f;
    border-width: 30px;
    margin-left: -30px;
    z-index: 10;
  }

  .introduction {
    color: #fff;
    font-size: 36px;
    color: #202630;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 50px;

    h1 {
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.125em;
    }

    p {
      letter-spacing: 0.125em;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #fff;
      line-height: 1.75em;
      padding: 0px;
      height: 0px;
    }
  }

  h2 {
    font-family: 'Roboto';
    font-size: 25px;
    text-transform: uppercase;
    color: #333;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-top: -6px;
    color: #333;
    padding: 40px;
    height: 180px;
  }
}

.icon {
  background-color: #fff;
  color: #f1c40f;
  height: 64px;
  width: 64px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-top: -40px;
  position: absolute;
  left: 41%;
  right: 50%;
  border: 4px solid #f1c40f;
  font-size: 30px;
}

.frame {
  background-color: #fff;
  padding: 10px;
}

.section-wish {
  padding: 2em 0 3em 0;
  background-size: cover;
  background-color: #f1c40f;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  &:before {
    top: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 30px;
    margin-left: -30px;
    z-index: 10;
  }

  h2 {
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 1em;
  }

  a {
    color: #333;
    border: 2px solid #333;
    padding: 10px 30px;
    text-transform: Uppercase;
    font-weight: 600;

    &:hover {
      color: #fff;
      border: 2px solid #fff;
      text-decoration: none;
    }
  }
}