// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-section {
  padding: 30px 0 40px 0;
  background-size: cover;
  background-color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  .home-issue {
    box-shadow: 0 1px 2px #999;
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in;
    background-color: #fff;
    padding: 20px 10px 10px 10px;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    .issue-name {
      display: block;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    .issue-stat {
      display: block;
      color: #333;
      font-size: 6rem;
      margin: 15px 0;

      &::after {
        content: "%";
      }
    }

    .issue-description {
      font-style: italic;
      font-weight: 100;
      font-size: 1.6rem;
    }
  }

  .introduction {
    color: #fff;
    font-size: 36px;
    color: #202630;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 50px;

    h1 {
      font-weight: 600;
      font-size: 30px;
      color: #fff;
      letter-spacing: 0.125em;
    }

    p {
      letter-spacing: 0.125em;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: #fff;
      line-height: 1.75em;
      padding: 0px;
      height: 0px;
    }
  }

  h2 {
    font-size: 1.4em;
    font-family: open sans;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-top: -6px;
    color: #333;
    padding: 10px;
    height: 100px;
  }

  @media all and (max-width: 992px) and (min-width: 768px) {
    p { height: 210px; }
  }

  @media only screen and (max-width: 767px) {
    .home-skill { margin-top: 20px; }
    p { height: 100px; }
  }

  @media only screen and (max-width: 400px) {
    p { height: 100px; }
    .home-issue { margin: 10px 0; }
  }
}

.icon {
  position: relative;
  background-color: #333;
  color: #fff;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  opacity: 0.8;
}

.home-wish {
  padding: 2em 0 3em 0;
  background-size: cover;
  background-color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: rgb(137, 132, 132);
  position: relative;
  text-align: center;

  h2 {
    font-family: 'Roboto';
    font-size: 25px;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 1em;
  }

  a {
    color: #333;
    border: 2px solid #333;
    padding: 10px 30px;
    text-transform: Uppercase;
    font-weight: 600;

    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
      background-color: #333;
      border: 2px solid #333;
      text-decoration: none;
    }
  }
}

.cut-quote {
    background:asset-url('test-home.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: white;
    position: relative;
    margin : 0;

    blockquote {
      position: relative;
      margin: 0 auto;
      font-size: 2em;
      font-family: roboto;
      font-weight: 600;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border-left: none;
      padding: 140px 0;

      small {
        color: #fff;
        margin-top: 30px;
        font-family: open sans;
        text-transform: none;

        &:before {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 531px) {
      blockquote { top: 20%; }
    }
  }

.cut-video {
  background:asset-url('test-home.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: white;
  position: relative;
  margin : 0;

  .container-video {
    margin: 0 auto;
    max-width: 600px;
  }

  .cut-scene-video {
    padding: 70px 40px;
  }
}

.cut-cover {
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}