.section-press {
  background:asset-url('test-home.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fff;
  min-height: 110vh;
  color: white;
  position: relative;

  .press-cover {
    padding-top: 120px;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
  }

  ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
  }

  .article {
    padding: 20px 20px;
    margin: 20px 0;

    .article-logo {
      margin-top: -20px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    .article-name {
      display: block;
      padding-top: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 1.4em;
      font-weight: 600;
      line-height: 1em;
      color: #333;

      a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
      }
    }

    .article-date {
      display: block;
      font-family: 'Open sans', sans-serif;
      font-size: 0.825em;
      font-weight: 200;
      line-height: 2em;
      color: #333;
    }
  }
}

@media (max-width: 767px) {
  .section-press {
    .article { text-align: center; }
    .article-name { margin: 10px 0; }
  }
}