.section-press {
  position: relative;
  padding: 30px 0 160px 0;

  ul {
    padding-top: 60px;
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;

    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .article {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 24%;
    margin: 5px 5px;
    border: 1px solid #f5f5f5;
    overflow: hidden;

    &:hover {
      .article-details {
        transform: translateY(0);
      }
    }

    .article-logo {
      width: 100%;
    }

    .article-details {
      position: absolute;
      padding: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:  #fff;
      transform: translateY(100%);

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .article-name {
      display: block;
      padding-top: 10px;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 1em;
      color: #333;

      a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
      }
    }

    .article-date {
      position: absolute;
      bottom: 10px;
      display: block;
      font-family: 'Open sans', sans-serif;
      font-size: 0.825em;
      font-weight: 200;
      line-height: 2em;
      color: #333;
    }
  }
}

@media screen and (max-width: 1250px) {
  .section-press {
    .article { width: 32.25555%;}
  }
}

@media (max-width: px) {

}