// Place all the styles related to the wish controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-height: 600px;

.wish-section {
    color: black;
    padding-top: 150px;
    padding-bottom:300px;
    position: relative;
    margin-top: 0;
    height: $header-height;
    background-image: image-url('rio-de-janeiro.jpg');
    background-size: cover;
    position: relative;
}

.wish-section-text {
    font-size: 24px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

.wish-index-page {
  min-height: 600px;
  padding-top: 20px;
  background-image: image-url('tokyo.jpg');
  background-size: cover;
  position: relative;
}

.wish-index-container {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
